/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Sen', sans-serif;
    font-weight: 700;
}

/* Header and Navigation */
#header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo img {
    height: 50px;
}

.primary-menu {
    display: flex;
}

.menu-container {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-item {
    margin-left: 20px;
}

.menu-link {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    padding: 10px 15px;
    transition: background-color 0.3s;
}

.menu-link:hover {
    background-color: #555;
    border-radius: 5px;
}

/* Movie List Container */
.movie-list-container {
    padding: 20px;
}

.movie-list-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.movie-list-wrapper {
    display: flex;
    overflow-x: auto;
}

.movie-list {
    display: flex;
}

.movie-list-item {
    flex: 0 0 200px;
    margin-right: 20px;
}

.movie-list-item-images {
    width: 100%;
    border-radius: 10px;
}

.movietext {
    display: block;
    width: 100%;
    height: auto;
}

.movie-list-item-title, .movie-list-item-desc {
    margin-top: 10px;
    font-size: 16px;
}

.see-more-btn {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.see-more-btn:hover {
    background-color: #0056b3;
}

.movie-list-item:hover ,.movie-list-item-images .movietext{
    transform: scale(1.2);
    margin: 0 30px;
    opacity: 0,5;
}