*{
  margin: 0;  
}

.body{
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(/NEW/images/Blue\ wall.png);
}


.container{
    background-color:black;
    min-height: calc(100vh - 50px);
    color: white;
}

.content-container{
    margin-left: 50px;
}

.movie-list-container{
    padding: 20px;
}

.movie-list-wrapper{
    position: relative;
}

.movie-list{
    display: flex;
    align-items: center;
    height: 300px;
}

.movie-list-item{
    margin-right: 30px;
    position: relative;
}

.movie-list-item:hover ,.movie-list-item-images .movietext{
    transform: scale(1.2);
    margin: 0 30px;
    opacity: 0,5;
}

.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-desc,
.movie-list-item:hover .movie-list-item-button{
    opacity: 1;
}

.movie-list-item-images movietext{
    transition: all 1s ease-in-out;
    width: 370px;
    height: 300px;
    object-fit: cover;
}

.movie-list-item-button{
    padding: 10px;
    background-color: rgb(5, 21, 126);
    color: white;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    left: 50px;
    opacity: 0;
    transition: Is all ease-in-out; 
}

